@charset "utf-8";

@media (max-width: 1729px){
}
h1{
	font-size: 20px;
}
body{
	background-color:beige;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.menu{
	list-style: none;
	padding: 0;
	background:#EABE3F;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color:white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
		
	
}

.menu li a:hover{
	background: #252850
}

footer{
   position: relative;
	margin-top: -10px;
	width: 100%;
	padding: 50px;
	clear: both;
	background: #EABE3F;
	text-align: center;
	color: #fff
}
	