@charset "utf-8";

@media (max-width: 897px){
}
body{
	background-color:beige;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.menu{
	list-style: none;
	padding: 0;
	background:#252850;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color:white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
		text-align: center;
	
}

.menu li a:hover{
	background: #EABE3F
}